/* Стиль для прямоугольника с фильмом */
body {
    background-image: url('/background.jpg');
    background-size: cover; /* Растягиваем изображение на всю площадь */
    background-repeat: no-repeat; /* Запрещаем повторение изображения */
}
.movie {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    transition: transform 0.2s;
    font-family: Arial, sans-serif; 
}

    .movie h3 {
        font-size: 24px; 
        margin-top: 0; 
        margin-bottom: 10px; 
        font-weight: bold;
    }

    .movie:hover {
        transform: scale(1.02); 
    }
    
    .movie img {
        width: 250px;
        height: auto;
        margin-right: 10px;
        border-radius: 15px;
    }


.movie-info {
    flex: 1;
}


.movie-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}


.movie-details {
    font-size: 20px;
    color: #555;
    margin: 0;
}

.movie-description {
    font-size: 26px;
    margin-top: 10px;
}

.page-title {
    text-align: center; 
    font-family: 'Cursive', cursive; 
    font-size: 36px; 
    margin-top: 20px; 
    color: #f8f8f8; 
}
